In [1]:
a = 1
b = 2
a,b = b,a

a,b

(2, 1)

In [2]:
import pandas as pd

In [4]:
CCTV_Seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/01. CCTV_in_Seoul.csv'

In [5]:
CCTV_Seoul = pd.read_csv('C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/01. CCTV_in_Seoul.csv'

In [6]:
CCTV_Seoul = pd.read_csv('C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-6-c523f21efd68>, line 1)

In [7]:
import pandas as pd

In [8]:
CCTV_Seoul = pd.read_csv('C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-8-c523f21efd68>, line 1)

In [9]:
CCTV_Seoul = pd.read_csv('C:/Users/jiwan/GitHub/Pahahot/YunJiWan/DataScience/data/01. CCTV_in_Seoul.csv', encoding='utf-8')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-9-ed7ada15e0c4>, line 1)

In [10]:
CCTV_Seoul = pd.read_csv('C:/Users/jiwan/GitHub/Pahahot/YunJiWan/DataScience/data/01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/jiwan/GitHub/Pahahot/YunJiWan/DataScience/data/01. CCTV_in_Seoul.csv'

In [11]:
CCTV_Seoul = pd.read_csv('C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-11-c523f21efd68>, line 1)

In [1]:
CCTV_Seoul = pd.read_csv(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
CCTV_Seoul = pd.read_csv(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\jiwan\\GitHub\\Pahahot\\YunJiWan\\DataScience\\data\\01. CCTV_in_Seoul.csv'

In [1]:
import pandas as pd

In [2]:
CCTV_Seoul = pd.read_csv(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\jiwan\\GitHub\\Pahahot\\YunJiWan\\DataScience\\data\\01. CCTV_in_Seoul.csv'

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\jiwan\\GitHub\\Pahahot\\YunJiWan\\DataScience\\data\\01. CCTV_in_Seoul.csv'

In [3]:
CCTV_Seoul = pd.read_csv('C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-3-c523f21efd68>, line 1)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-3-c523f21efd68>, line 1)

In [4]:
import pandas as pd

In [5]:
CCTV_Seoul = pd.read_csv(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\jiwan\\GitHub\\Pahahot\\YunJiWan\\DataScience\\data\\01. CCTV_in_Seoul.csv'

In [6]:
CCTV_Seoul = pd.read_csv('C:\\Users\\jiwan\\GitHub\\Pahahot\\YunJiWan\\DataScience\\data\\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\jiwan\\GitHub\\Pahahot\\YunJiWan\\DataScience\\data\\01. CCTV_in_Seoul.csv'

In [7]:
import pandas as pd

In [8]:
CCTV_Seoul = pd.read_csv(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [9]:
import pandas as pd

In [10]:
CCTV_Seoul = pd.read_csv(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

           2011   2012  2013 2014  2015  2016  2017  2018
0      5,221    1,944  195.0  316.0   430    546    765    577    448
1      1,879      303  387.0  134.0    59    144    194    273    385
2      1,265      243   88.0  141.0    74    145    254      1    319
3      1,617      219  155.0  118.0   230    187    190    264    254
4      3,985      430   56.0  419.0   487    609    619    694    671

In [11]:
CCTV_Seoul.columns

Index(['', '', '2011 ', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018'],
      dtype='object')

In [12]:
CCTV_Seoul.columns[0]

''

In [13]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : ''}, inplace=True)

In [14]:
CCTV_Seoul.head()

            2011   2012  2013 2014  2015  2016  2017  2018
0      5,221    1,944  195.0  316.0   430    546    765    577    448
1      1,879      303  387.0  134.0    59    144    194    273    385
2      1,265      243   88.0  141.0    74    145    254      1    319
3      1,617      219  155.0  118.0   230    187    190    264    254
4      3,985      430   56.0  419.0   487    609    619    694    671

In [15]:
pop_Seoul = pd.read_excel(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. population_in_Seoul.xls', encoding='utf-8')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\jiwan\\GitHub\\Pahahot\\YunJiWan\\DataScience\\data\\01. population_in_Seoul'

In [16]:
pop_Seoul = pd.read_excel(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. population_in_Seoul.xls', encoding='utf-8')

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'\xea\xb8\xb0\xea\xb0\x84\t\xec'

In [17]:
pop_Seoul = pd.read_excel(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. population_in_Seoul.xls', encoding='utf-8')

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'\xea\xb8\xb0\xea\xb0\x84\t?'

In [18]:
pop_Seoul = pd.read_excel(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. population_in_Seoul.xls', encoding='utf-8')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\jiwan\\GitHub\\Pahahot\\YunJiWan\\DataScience\\data\\01. population_in_Seoul.xls'

In [19]:
pop_Seoul = pd.read_excel(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. population_in_Seoul.xlsx', encoding='utf-8')

In [20]:
pop_Seoul.head()

,,,,,.1,.2,.3,.4,.5,.6,.7,.8,,65
0,,,,,,,,,,,,,,65
1,,,,,,,,,,,,,,65
2,2019,,4327605,10010983,4877725,5133258,9729107,4744059,4985048,281876,133666,148210,2.25,1485272
3,2019,,73947,161869,78215,83654,151290,73746,77544,10579,4469,6110,2.05,27519
4,2019,,62739,136488,66823,69665,126171,61910,64261,10317,4913,5404,2.01,23275

In [21]:
pop_Seoul = pd.read_excel(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. population_in_Seoul.xlsx', 
                          header = 2,
                          parse_cols = 'B,D,G,J,N',
                          encoding='utf-8')

TypeError: read_excel() got an unexpected keyword argument `parse_cols`

In [22]:
pop_Seoul = pd.read_excel(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. population_in_Seoul.xlsx', 
                          header = 2,
                          parse_cols = 'B, D, G, J, N',
                          encoding='utf-8')

TypeError: read_excel() got an unexpected keyword argument `parse_cols`

In [23]:
pop_Seoul = pd.read_excel(r'C:\Users\jiwan\GitHub\Pahahot\YunJiWan\DataScience\data\01. population_in_Seoul.xlsx', 
                          header = 2,
                          usecols = 'B, D, G, J, N',
                          encoding='utf-8')

In [24]:
pop_Seoul.head()

                  .1     .2  65
0     10010983  9729107  281876   1485272
1      161869   151290   10579     27519
2       136488   126171   10317     23275
3      245185   228670   16515     38791
4      308979   300889    8090     43947

In [25]:
pop_Seoul.rename(columns={pop_Seoul.columns[0] : "",
                         pop_Seoul.columns[1] : "",
                         pop_Seoul.columns[2] : "",
                         pop_Seoul.columns[3] : "",
                         pop_Seoul.columns[1] : ""}, inplace=True)

In [26]:
pop_Seoul.head()

                        65
0     10010983  9729107  281876   1485272
1      161869   151290   10579     27519
2       136488   126171   10317     23275
3      245185   228670   16515     38791
4      308979   300889    8090     43947

In [27]:
pop_Seoul.rename(columns={pop_Seoul.columns[0] : "",
                         pop_Seoul.columns[1] : "",
                         pop_Seoul.columns[2] : "",
                         pop_Seoul.columns[3] : "",
                         pop_Seoul.columns[4] : ""}, inplace=True)

In [28]:
pop_Seoul.head()

0     10010983  9729107  281876  1485272
1      161869   151290   10579    27519
2       136488   126171   10317    23275
3      245185   228670   16515    38791
4      308979   300889    8090    43947

In [29]:
import pandas as pd

In [30]:
import mumpy as np

ModuleNotFoundError: No module named 'mumpy'

In [31]:
pip install numpy

Requirement already satisfied: numpy in c:\users\jiwan\anaconda3\lib\site-packages (1.18.1)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import numpy as np

In [33]:
import pandas as pd

In [34]:
import numpy as np

In [35]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [36]:
dates = pd.date_range('20200406',periods=6)
dates

DatetimeIndex(['2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09',
               '2020-04-10', '2020-04-11'],
              dtype='datetime64[ns]', freq='D')

In [37]:
df = pd.DataFrame(np.random.random(6,4), index=dates, columns=['A','B','C','D'])

TypeError: random() takes at most 1 positional argument (2 given)

In [38]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2020-04-06 -1.081623 -0.392151 -0.101055 -0.211620
2020-04-07 -0.291879 -1.318568  0.839804  1.529281
2020-04-08  0.844152  0.456740  0.827271  1.184273
2020-04-09  0.558485  0.696305  0.927372  1.051459
2020-04-10  0.540542 -2.294990  0.061895  1.400910
2020-04-11  1.228085  0.002523 -0.888045 -0.110033

In [39]:
df.head(3)

                   A         B         C         D
2020-04-06 -1.081623 -0.392151 -0.101055 -0.211620
2020-04-07 -0.291879 -1.318568  0.839804  1.529281
2020-04-08  0.844152  0.456740  0.827271  1.184273

In [40]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = ['A','B','C','D'])
df

                   A         B         C         D
2020-04-06 -0.632494  1.335091 -0.627288  0.191917
2020-04-07  0.302969  1.122119  1.384931  1.291441
2020-04-08 -0.273324  1.122405  1.946507  0.951900
2020-04-09  1.604965 -0.613476  0.765134  2.076238
2020-04-10  1.689456  1.020931  0.226172 -0.320576
2020-04-11  0.337151  0.320618  1.044863  2.183537

In [41]:
df.inedx

AttributeError: 'DataFrame' object has no attribute 'inedx'

In [42]:
df.index

DatetimeIndex(['2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09',
               '2020-04-10', '2020-04-11'],
              dtype='datetime64[ns]', freq='D')

In [43]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [44]:
df.values

array([[-0.63249372,  1.33509121, -0.62728752,  0.19191669],
       [ 0.30296876,  1.12211852,  1.38493106,  1.29144055],
       [-0.27332409,  1.12240516,  1.94650662,  0.95189961],
       [ 1.60496507, -0.61347587,  0.76513367,  2.07623824],
       [ 1.68945558,  1.02093085,  0.22617194, -0.32057566],
       [ 0.33715146,  0.32061844,  1.04486349,  2.18353742]])

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-04-06 to 2020-04-11
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [46]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.504787  0.717948  0.790053  1.062409
std    0.957239  0.738940  0.903729  1.001983
min   -0.632494 -0.613476 -0.627288 -0.320576
25%   -0.129251  0.495697  0.360912  0.381912
50%    0.320060  1.071525  0.904999  1.121670
75%    1.288012  1.122333  1.299914  1.880039
max    1.689456  1.335091  1.946507  2.183537

In [47]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2020-04-06 -0.632494  1.335091 -0.627288  0.191917
2020-04-08 -0.273324  1.122405  1.946507  0.951900
2020-04-07  0.302969  1.122119  1.384931  1.291441
2020-04-10  1.689456  1.020931  0.226172 -0.320576
2020-04-11  0.337151  0.320618  1.044863  2.183537
2020-04-09  1.604965 -0.613476  0.765134  2.076238

In [48]:
df

                   A         B         C         D
2020-04-06 -0.632494  1.335091 -0.627288  0.191917
2020-04-07  0.302969  1.122119  1.384931  1.291441
2020-04-08 -0.273324  1.122405  1.946507  0.951900
2020-04-09  1.604965 -0.613476  0.765134  2.076238
2020-04-10  1.689456  1.020931  0.226172 -0.320576
2020-04-11  0.337151  0.320618  1.044863  2.183537

In [49]:
df['A']

2020-04-06   -0.632494
2020-04-07    0.302969
2020-04-08   -0.273324
2020-04-09    1.604965
2020-04-10    1.689456
2020-04-11    0.337151
Freq: D, Name: A, dtype: float64

In [50]:
df[0:3]

                   A         B         C         D
2020-04-06 -0.632494  1.335091 -0.627288  0.191917
2020-04-07  0.302969  1.122119  1.384931  1.291441
2020-04-08 -0.273324  1.122405  1.946507  0.951900

In [51]:
df['20200406':'20200408']

                   A         B         C         D
2020-04-06 -0.632494  1.335091 -0.627288  0.191917
2020-04-07  0.302969  1.122119  1.384931  1.291441
2020-04-08 -0.273324  1.122405  1.946507  0.951900

In [52]:
df.loc(dates[0])

ValueError: No axis named 2020-04-06 00:00:00 for object type <class 'pandas.core.frame.DataFrame'>

In [53]:
df

                   A         B         C         D
2020-04-06 -0.632494  1.335091 -0.627288  0.191917
2020-04-07  0.302969  1.122119  1.384931  1.291441
2020-04-08 -0.273324  1.122405  1.946507  0.951900
2020-04-09  1.604965 -0.613476  0.765134  2.076238
2020-04-10  1.689456  1.020931  0.226172 -0.320576
2020-04-11  0.337151  0.320618  1.044863  2.183537

In [54]:
df[0:5]

                   A         B         C         D
2020-04-06 -0.632494  1.335091 -0.627288  0.191917
2020-04-07  0.302969  1.122119  1.384931  1.291441
2020-04-08 -0.273324  1.122405  1.946507  0.951900
2020-04-09  1.604965 -0.613476  0.765134  2.076238
2020-04-10  1.689456  1.020931  0.226172 -0.320576

In [55]:
df.loc[dates[0]]

A   -0.632494
B    1.335091
C   -0.627288
D    0.191917
Name: 2020-04-06 00:00:00, dtype: float64

In [56]:
df.loc[:,['A','B']]

                   A         B
2020-04-06 -0.632494  1.335091
2020-04-07  0.302969  1.122119
2020-04-08 -0.273324  1.122405
2020-04-09  1.604965 -0.613476
2020-04-10  1.689456  1.020931
2020-04-11  0.337151  0.320618

In [57]:
df.loc['20200406':'20200408',['A','B']]

                   A         B
2020-04-06 -0.632494  1.335091
2020-04-07  0.302969  1.122119
2020-04-08 -0.273324  1.122405

In [58]:
df.loc['20200406',['A','B']]

A   -0.632494
B    1.335091
Name: 2020-04-06 00:00:00, dtype: float64

In [59]:
df.loc[dates[0],'A']

-0.6324937238726922

In [60]:
df.iloc[0]

A   -0.632494
B    1.335091
C   -0.627288
D    0.191917
Name: 2020-04-06 00:00:00, dtype: float64

In [61]:
df.iloc[3]

A    1.604965
B   -0.613476
C    0.765134
D    2.076238
Name: 2020-04-09 00:00:00, dtype: float64

In [62]:
df.iloc[3:5,0:2]

                   A         B
2020-04-09  1.604965 -0.613476
2020-04-10  1.689456  1.020931

In [63]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2020-04-07  0.302969  1.384931
2020-04-08 -0.273324  1.946507
2020-04-10  1.689456  0.226172

In [64]:
df.iloc[1:3,:]

                   A         B         C         D
2020-04-07  0.302969  1.122119  1.384931  1.291441
2020-04-08 -0.273324  1.122405  1.946507  0.951900

In [65]:
df.iloc[:,1:3]

                   B         C
2020-04-06  1.335091 -0.627288
2020-04-07  1.122119  1.384931
2020-04-08  1.122405  1.946507
2020-04-09 -0.613476  0.765134
2020-04-10  1.020931  0.226172
2020-04-11  0.320618  1.044863

In [66]:
df

                   A         B         C         D
2020-04-06 -0.632494  1.335091 -0.627288  0.191917
2020-04-07  0.302969  1.122119  1.384931  1.291441
2020-04-08 -0.273324  1.122405  1.946507  0.951900
2020-04-09  1.604965 -0.613476  0.765134  2.076238
2020-04-10  1.689456  1.020931  0.226172 -0.320576
2020-04-11  0.337151  0.320618  1.044863  2.183537

In [67]:
df[df.A>0]

                   A         B         C         D
2020-04-07  0.302969  1.122119  1.384931  1.291441
2020-04-09  1.604965 -0.613476  0.765134  2.076238
2020-04-10  1.689456  1.020931  0.226172 -0.320576
2020-04-11  0.337151  0.320618  1.044863  2.183537